body {
  overflow: visable;

}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: solid 5px orangered;
  width: 800px;
  height: 600px;
  /* background: #848458; */
  /* background: #20312f; */
  background: #305521;
}